<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>display</title>
  </head>
  <body>
    <h1>Here is your phrase</h1>
    <p>
      <%="#{@converted}"%>
    </p>

  </body>
</html>
