<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Results</h1>
    <h2><%=@original%> in Pig Latin is...</h2>
    <n2><%=@pig_latin.capitalize%></h2>
  </body>
</html>
