<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pig Latinizer!</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>

    <h3>Latin Translation</h3>
    <p>
      <%= @piglatinized_phrase %>
    </p>
  </body>
</html>
