<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  	<title>Results</title>
  </head>
    <h1>Here you are, piggy. Oodgay ayday otay ouyay.</h1>
    
    <h2> <%= @pigified_text %></h2>

  </body>
</html>