<h2>Here is your original phrase, and its PIG LATIN translation!</h2>
<h3><%= format_label(PHRASE_SYMBOL) %>: <%= @pig_latinizer.text %></h3>
<h3>Pig Latin translation: <%= @pig_latinizer.translation %></h3>
