<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <h2>Enter a phrase to pig-latinize...</h2>

    <form action="" method="POST">
      <p>Enter your phrase:
      <input type="textarea" name="user_phrase"></p>
      <input type="submit">
    </form>
  
  </body>
</html>