
<form method="POST" action="/">
  <h3>Write a word or a sentence to be piglatinezed</h3>
  <h5>Enter your phrase: </h5>
  <textarea name="user_phrase" rows="10" cols="30"></textarea>
  <br>
  <button type="submit" value="Submit">Submit</button>
</form>
