<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form action="/" method="post">
      <p>Enter your phrase:</p>
      <p><label for="latinizer">Latinizer:</label>
      <input type="text" name="latinizer" id="latinizer"></p>
      <input type="submit" value="submit">
    </form>

  </body>
</html>
